<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav>
        <ul class="header__ul">
            <li class="header__li"><a href="index.html">Главная</a></li>
            <li class="header__li"><a href="pravo.html">Правопорядок</a></li>
            <li class="header__li"><a href="kyltyra.html">Культура</a></li>
            <li class="header__li"><a href="press.html">Пресс-центр</a></li>
        </ul>
    </nav>
</header>

  <main>
    <section class="TitleSection">
      <div class="container">
       <h1 class="title__first">Новости школы №3 г.о Мытищи</h1>
      </div>
   </section>

   <section class="addSection">
    <div class="container">
      <button class="RecomendBtn" title="Кликабельно">
        <a href="rec.html" style="color: black;">Парламент рекомендует</a>
      </button>
      <button class="PredlojkaBtn" title="Кликабельно">
        <a href="mp.html" style="color: black;">Предложить мероприятие</a>
      </button>
      <button class="PredlojkaBtn" title="Кликабельно">
        <a href="Predlojka.html" style="color: black;">Предложить новость</a>
      </button>
    </div>
   </section>

   <section class="News News1">
    <div class="container">
      <h1 class="news__title">Новый год в нашей школе!</h1>

      <p class="news__text">Дорогие ученики и учителя!</p>

      <p class="news__text">Скоро наступит долгожданный Новый год, и в нашей школе уже начинаются праздничные приготовления! Мы готовимся встретить этот чудесный праздник с радостью и волшебством. Вот что вас ожидает:</p>

      <p class="news__text">Новая мелодия на звонках! В честь праздника, чтобы создать атмосферу веселья и новогоднего настроения, мы меняем мелодию звонков. Будьте готовы к музыкальным сюрпризам!</p>

      <p class="news__text">Ёлки в классах! В каждом классе будут установлены красивые новогодние ёлки, которые будут радовать всех своим сиянием и атмосферой праздника.</p>

      <p class="news__text">Украшение классов! Наши классы наряжаются в яркие огоньки, гирлянды и снежинки, превращаясь в настоящие зимние чудеса.</p>

      <p class="news__text">Праздничные мероприятия! Мы готовим для вас праздничные мероприятия, игры и конкурсы, которые подарят всем отличное настроение.</p>

      <p class="news__text">Давайте вместе создавать новогоднюю атмосферу и встречать самый волшебный праздник года с улыбками и хорошим настроением!</p>

      <p class="news__text__finall">07.11.24 Деревянко Глеб</p>
    </div>
   </section>

   <section class="News News2">
      <div class="container">
        <h1 class="news__title">Две звезды.</h1>

        <p class="news__text">Мы рады пригласить вас на уникальное событие - вокальный конкурс "Две звезды", где у вас появится возможность зажечь на сцене вместе с учителями!</p>

        <p class="news__text">Это отличный шанс показать свой вокальный талант, узнать друг друга получше и пережить незабываемые впечатления.</p>

        <p class="news__text">"Две звезды" пройдет в нашей школе 6 декабря 2024 года.</p>

        <p class="news__text">Тема конкурса: Любимые песни из советских фильмов.</p>

        <p class="news__text">Всю информацию о конкурсе вы можете узнать у классных руководителей.</p>

        <p class="news__text">Участником конкурса может стать любой желающий ученик совместно с учителем.</p>

        <p class="news__text">Не упустите возможность стать частью этого удивительного мероприятия.</p>

        <p class="news__text__finall">11.08.24</p>
      </div>
   </sectiom>

  </main>

  <footer>
    <h1 style="text-align: center;">2024. <a href="" target="_blank">SwKey</a></h1>
</footer>
</body>
</html>
