{% extends "base.html" %}
{% load static %}

{% block title %} Правопорядок {% endblock title %}

{% block content %}
<main>
        <section class="TitleSection">
           <div class="container">
            <h1 class="title__first">Правопорядок школы №3 г.о Мытищи</h1>
           </div>
        </section>
        <section class="OurIdeaSection">
            <div class="container">
                <h1 class="title__idea">Наша деятельность или зачем мы существуем?</h1>
                <ul class="IdeaUl">
                    <li class="IdeaLi">Следим за поведением учеников</li>
                    <li class="IdeaLi">Следим за формой учеников</li>
                    <li class="IdeaLi">Помогаем педагогам</li>
                    <li class="IdeaLi">Организуем мероприятия</li>
                    <li class="IdeaLi">Делаем школьную жизнь лучше</li>
                    <p class="pDevis">Сектор правопорядка – это структурное подразделение, ответственное за контроль соблюдения формальных требований и дисциплины в организации. Их основная цель – обеспечение соответствия стандартам поведения, этическим нормам и установленным правилам. Специалисты сектора осуществляют проверку соблюдения процедур, поддерживают порядок и дисциплину, а также проводят профилактические беседы с целью предотвращения нарушений. </p>
                </ul>
            </div>
        </section>
        <section class="PhotoSection">
            <div class="container">
                <h2 class="title__sostav">Наш состав:</h2>
                <div class="containerImgs">
                    <div class="Adelina">
                        <h3 class="AdelinaName">Председатель - Корчага Аделина</h3>
                        <img src="img/Odel1.jpg" alt="Аделина" class="AdelinaImg">
                    </div>
                    <div class="Ira">
                        <h3 class="AdelinaName">Зам. Председателя - Шайтан Ирина</h3>
                        <img src="img/Ira1.jpg" alt="Ирина" class="AdelinaImg IraImg">
                    </div>
                </div>
                <h2 class="title__heroes">Участники:</h2>
                <div class="containerImgs">
                    <div class="Gleb">
                        <h3 class="AdelinaName GlebName">Деревянко Глеб</h3>
                        <img src="img/Gleb1.jpg" alt="Глеб" class="AdelinaImg">
                    </div>
                    <div class="Zar">
                        <h3 class="AdelinaName GlebName">Мельниченко Зарина</h3>
                        <img src="img/Zar1.jpg" alt="Зарина" class="AdelinaImg IraImg">
                    </div>
                </div>
                <div class="containerImgs">
                    <div class="Sasha">
                        <h3 class="AdelinaName GlebName">Александр Краснов</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                    <div class="Eva">
                        <h3 class="AdelinaName GlebName">Дмитриева Ева</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                </div>
                <div class="containerImgs">
                    <div class="Dasha">
                        <h3 class="AdelinaName GlebName">Сорокина Дарья</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                    <div class="Anna">
                        <h3 class="AdelinaName GlebName">Ким Анна</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                </div>
                <div class="containerImgs">
                    <div class="djyleta">
                        <h3 class="AdelinaName GlebName">Назарова Джульетта</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                    <div class="Elizaveta">
                        <h3 class="AdelinaName GlebName">Скрипова Елизавета</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                </div>
                <div class="containerImgs">
                    <div class="">
                        <h3 class="AdelinaName GlebName">Юлдашев Абдулкадир</h3>
                        <img src="img/" alt="" class="AdelinaImg IraImg">
                    </div>
                </div>
                {% comment %} <h2 class="title__We">Совместные фотографии</h2>
                <div class="containerImgs">
                    <img src="img/IMG_1703.jpg" alt="Совместные" class="AdelinaImg IraImg sousou1">
                    <img src="img/IMG_1705.jpg" alt="Совместные" class="AdelinaImg IraImg sousou">
                    <img src="img/IMG_1707.jpg" alt="Совместные" class="AdelinaImg IraImg sousou">
                </div>
                <div class="containerImgs">
                    <img src="img/IMG_1301.jpg" alt="Совместные" class="AdelinaImg IraImg sousou1">
                    <img src="img/IMG_1303.jpg" alt="Совместные" class="AdelinaImg IraImg sousou">
                    <img src="img/IMG_1306.jpg" alt="Совместные" class="AdelinaImg IraImg sousou">
                </div> {% endcomment %}
            </div>
        </section>
    </main>
{% endblock content %}

