*{
    color: white;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}
body{
    background: -webkit-linear-gradient(90deg, #fa7373,#85fa73);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(90deg, #fa7373,#85fa73);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.containerImgs{
    display: flex;
}
.TitleSection{
    background-color: #323232;
    width: 867px;
    height: 194px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
}
.TitleSectionPred{
    background-color: #323232;
    width: 867px;
    height: 210px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
}
.title__first{
    text-align: center;
    padding-top: 73px;
    font-size: 30px;
}
.OurIdeaSection{
    background-color: #464545;
    width: 867px;
    height: 330px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
}
.OurIdeaSectionPress{
    background-color: #474747;
    width: 867px;
    height: 420px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
}
.OurIdeaSectionKylt{
    background-color: #414040;
    width: 867px;
    height: 620px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
}
.title__idea{
    text-align: center;
    padding-top: 23px;
    font-size: 30px;
}
.IdeaLi{
    height: 20px;
    margin-top: 5px;
    font-weight: 100px;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
}
.PhotoSection{
    background-color: #303030;
    width: 867px;
    height: 3500px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
}
.PhotoSectionPress{
    background-color: #292929;
    width: 867px;
    height: 2700px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
}
.PhotoSectionKylt{
    background-color: #292929;
    width: 867px;
    height: 2700px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
}
.title__sostav{
    text-align: center;
    padding-top: 20px;
}
.AdelinaName{
    margin-left: 80px;
}
.AdelinaImg{
    width: 243px;
    height: 334px;
    border-radius: 10px;
    margin-left: 90px;
    transition: 1s ease-out;
}
.IraImg{
    margin-left: 120px;
}
.AdelinaImg:hover{
    width: 300px;
    height: 390px;
}
.title__heroes{
    text-align: center;
    padding-top: 20px;
}
.GlebName{
    margin-left: 140px;
}
.title__We{
    text-align: center;
    padding-top: 20px;
}
.sousou{
    margin-left: 10px;
    margin-bottom: 10px;
}
.sousou1{
    margin-left: 50px;
    margin-bottom: 10px;
}
.header__ul{
    display: flex;
    align-items: center;
}
.header__li{
    font-size: 25px;
    list-style: none;
    margin-left: 10px;
}
header{
    max-width: 700px;
    margin: 0 auto;
}
.MainSection{
    background-color: #414141;
    width: 867px;
    height: 410px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
}
.title__about{
    text-align: center;
    padding-top: 10px;
}
.about__text{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.CompositionSection{
    background-color: #3b3b3b;
    width: 867px;
    height: 1440px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
}
.MainPeoples{
    text-align: center;
    padding-top: 10px;
}
.EM{
    margin-left: 120px;
}
.EMimg{
    width: 300px;
    height: 334px;
    border-radius: 10px;
    margin-left: 160px;
    transition: 1s ease-out;
}
.EMimg:hover{
    width: 340px;
    height: 390px;
}
.ministersPhtotos{
    width: 310px;
    height: 370px;
    border-radius: 10px;
    margin-left: 90px;
    transition: 1s ease-out;
}
.ministersPhtotos:hover{
    width: 340px;
    height: 400px;
}
#f7{
    width: 100%;
}

.videoContent{
    position: absolute;
    z-index: 1;
    bottom: 0;
color: white;
width: 100%;
background-color: #2e2c2c50;
padding: 20px;
}

.video{
    position: relative;
    background-color: #1d1d1d;
    border-radius: 15px;
}

.video__btn{
    border: none;   font-size: 15px;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s ease-out;
    margin-left: 15px;
    color: black;
}

.video__btn:hover{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 25px;
}

.VideoContainer{
    display: flex;
    align-items: center;
}
.video__title{
    text-align: center;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .News{
    background-color: #333131;
    width: 867px;
    height: 500px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 24px;
  }
  .News2{
    height: 400px;
  }

  .news__title{
    text-align: center;
    font-size: 35px;
  }

  .news__text{
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Montserrat", sans-serif;
  }
  .news__text__finall{
    padding-left: 25px;
    padding-right: 25px;
  }

  .montserrat-small {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .pDevis{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
  }
  
  .addSection{
    background-color: #242323;
    width: 867px;
    height: 200px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
  }

  .RecomendBtn{
    color: black;
    padding: 20px;
    border-radius: 40px;
    margin-top: 70px;
    margin-left: 10px;
    font-size : 20px;
  }
  .PredlojkaBtn{
    color: black;
    padding: 20px;
    border-radius: 40px;
    font-size : 20px;
    margin-left: 20px;
  }
  .pPred{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  }
  .PredlojkaSection{
    background-color: #474747;
    width: 867px;
    height: 1160px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
  }
  .PredlojkaSection2{
    background-color: #474747;
    width: 867px;
    height: 1460px;
    max-width: 1100px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 20px;
  }
  .iframePred{
    margin-left: 110px;
  }